@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Open+Sans:ital,wght@1,400;1,600&display=swap');

@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/icon.css";
@import "components/icon-raw.css";
@import "components/no-mobile.css";

/* screen */
@import "screen/Login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chat.css";


body {
    color: #2e363e;;
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}

.status-bar {
    top:0;
    position: fixed;
    width: 100%;
    background-color: white;
}